/* Main container styling for feedbacks */
.feedbacks-container {
    margin-top: 60px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 0px 5px;    
    max-width: 1200px;
    
  }
  
  /* Title styling */
  .feedbacks-title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* Feedback table container */
  .feedbacks-table-container {
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  /* Button styling */
  .view-details-btn {
    background-color: #0040ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .view-details-btn:hover {
    background-color: #0056b3;
  }
  
  /* Modal header styling */
  .modal-header {
    background-color: #1960b2 !important;
    color: white !important;
  }
  
  /* Modal body styling */
  .modal-body {
    background-color: #f8f9fa;
    color: #333;
  }
  
  /* Sentiment analysis result styling */
  .sentiment-result {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #e7f3ff;
    color: #007bff;
  }
  
  /* Close button styling */
  .close-modal-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .close-modal-btn:hover {
    background-color: #a71d2a;
  }

  .custom-confirm-btn {
    background-color: #1960b2 !important; /* Red color */
    border-color: #1960b2 !important;
    color: #fff !important; /* White text for contrast */
  }
  

  .custom-cancel-btn {
    background-color: #727475 !important; /* Red color */
    border-color: #727475 !important;
    color: #fff !important; /* White text for contrast */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .feedbacks-title {
      font-size: 24px;
    }
  
    .feedbacks-container {
      padding: 10px;
    }
  }
  