/* Container styling for the Suspended Handyman component */
.suspended-handyman {
  margin-right: 20px;
  padding: 20px; /* Padding for the container */
  background-color: #f8f8f8; /* Light background for contrast */
  border-radius: 8px; /* Rounded corners for the container */
  box-shadow: 0px 0px 5px;
  max-width: 1200px; /* Max width for the container */
  margin-top: 60px;
}

/* Title styling */
.suspended-handyman h2 {
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Space below the title */
  color: #333; /* Dark color for title */
  font-size: 24px; /* Font size for the title */
  font-weight: bold; /* Bold title */
}

/* Search input styling */
.suspended-handyman .form-control {
  margin-bottom: 20px; /* Space below the search input */
}

/* Button styling */
.table-action-buttons {
  display: flex; /* Use flexbox for button layout */
  justify-content: space-between; /* Space out buttons */
}

.button-group {
  display: flex; /* Use flexbox for button layout */
  justify-content: space-between; /* Space out buttons */
  width: 100%;
}

/* DataTable styling */
.react-data-table {
  border: 1px solid #dee2e6; /* Border around the table */
}

/* Header styling */
.react-data-table .rdt_TableHead {
  background-color: #007bff; /* Bootstrap primary color */
  color: #ffffff; /* White text color */
}

/* Header cell styling */
.react-data-table .rdt_TableHead .rdt_HeadCell {
  font-weight: bold; /* Bold text in header */
}

/* Row styling */
.react-data-table .rdt_TableBody .rdt_Row {
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.react-data-table .rdt_TableBody .rdt_Row:hover {
  background-color: #f1f1f1; /* Light gray on hover */
}

/* Cell styling */
.react-data-table .rdt_TableBody .rdt_Cell {
  padding: 15px; /* Padding in table cells */
  border-bottom: 1px solid #dee2e6; /* Border between rows */
}

/* Modal styling */
.modal-content {
  border-radius: 8px; /* Rounded corners for modal */
}

.modal-header {
  background-color: #007bff; /* Primary color for header */
  color: #ffffff; /* White text color */
}

/* Modal title styling */
.modal-title {
  margin: 0; /* Remove default margin */
  font-weight: bold; /* Bold title */
}

/* Modal body text styling */
.modal-body p {
  margin: 10px 0; /* Space between paragraphs */
  color: #333; /* Dark text color */
}

/* Style for delete and lift confirmation modal buttons */
.modal-footer .btn {
  flex: 1; /* Allow buttons to take equal space */
  height: 40px; /* Ensure the same height */
  margin-left: 10px; /* Space between buttons */
}

/* Alert styling */
.alert {
  margin-top: 20px; /* Space above the alert */
  border-radius: 8px; /* Rounded corners for alert */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center content vertically */
}

/* Alert close button styling */
.alert .close {
  cursor: pointer; /* Pointer cursor for close button */
  margin-left: auto; /* Push close button to the right */
}
