/* Container styling for the Suspended User component */
.suspended-user {
    margin-right: 20px;
    padding: 20px; /* Padding for the container */
    background-color: #f8f8f8; /* Light background for contrast */
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0px 0px 5px;
    max-width: 1200px; /* Max width for the container */
    margin-top: 15px;
}

/* Title styling */
.suspended-user h2 {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Space below the title */
    color: #333; /* Dark color for title */
    font-size: 24px; /* Font size for the title */
    font-weight: bold; /* Bold title */
}

/* Search input styling */
.suspended-user .form-control {
    margin-bottom: 20px; /* Space below the search input */
}

/* Button group styling */
.action-cell {
    display: flex; /* Use flexbox for button layout */
    gap: 10px; /* Space between buttons */
}

.button-group {
    display: flex; /* Use flexbox for button layout */
    justify-content: space-between; /* Space out buttons */
    width: 100%;
    gap: 2px;
  }

/* DataTable row styling */
.suspended-user .rdt_Table {
    border: 1px solid #dee2e6; /* Border for DataTable */
}

/* Modal header styling */
.suspended-user .modal-header {
    background-color: #007bff; /* Bootstrap primary color */
    color: white; /* White text color */
}

/* Modal body styling */
.suspended-user .modal-body {
    background-color: #f8f9fa; /* Light background for modals */
}

/* Alert styling */
.suspended-user .alert {
    margin-bottom: 20px; /* Space below alerts */
}
