body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.view-feedbacks-container {
  margin-top: 100px; /* Adds 100px space above the container */
  padding: 20px; /* Optional: Adjust padding for better spacing */
}

.feedback-card {
  margin-bottom: 20px; /* Adds space between feedback cards */
}

