.container-fluid{
    margin-top: 60px;
}
.view-reports-container {
    padding: 20px;
}

.view-reports-title {
    margin-bottom: 20px;
    text-align: left;
}

.table-responsive {
    margin-top: 20px;
}

.table-responsive .btn {
    white-space: nowrap;  /* Prevent button text wrapping */
}